@font-face {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    src: url('../fonts/Lato-Bold.ttf');
}