html{
    box-sizing: border-box;
}
*, 
*::after,
*::before{
    box-sizing: inherit;
}
body{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.visually-hidden{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

// .container{
//     max-width: 1440px;
//     padding: 0 163px;
//     margin: auto;
// }

// @media screen and (max-width: 560px) {
//     .container{
//         padding: 0 20px;
//     }
// }

.container{
    max-width: 1300px;
    padding: 0 100px;
    margin: auto;
}

@media screen and (max-width: 560px) {
    .container{
        padding: 0 20px;
    }
}