.header{
    padding-top:16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    &__logo{
        display: flex;
        &__img{
            display: block;
        }
    }

    .nav{
        display: flex;
        list-style: none;

        &__item{
            display: flex;
            margin: 0 16px;
        }
        &__link{
            text-decoration: none;
            font-size: 15px;
            line-height: 24px;
            color: #000;
        }
    }
    .toggle{
        display: none;
    }

    &__tel{
        background: #00BAFC;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        padding: 0.5rem;
        font-size: 15px;
        line-height: 24px;
        font-weight: 700;
    }
}

@media screen and (max-width: 560px) {
    .header{
        position: relative;
        .nav{
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // z-index: 2;
            background-color: rgba(22, 22, 22, 0.863);
            &__item{
                margin: 10px 0;
            }
            &__link{
                font-size: 26px;
                color: white;
                font-weight: 700;
            }
        }
        &__tel{
            margin-left: auto;
            margin-right: 30px;
        }
        .toggle{
            position: relative;
            z-index: 9;
            width: 35px;
            height: 30px;
            // background-color: red;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            order: 2;
            &::after{
                content: "";
            }
            & > span, &::after{
                width: 100%;
                height: 3px;
                border-radius: 2px;
                background-color: rgb(94, 94, 94);
            }

            &--open + .nav{ 
                display: flex;
            }
        }
    }
}