.header{
    background-color: #F4F6F9;
    height: 100vh;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0%;
        z-index: 2;
        width: 100%;
        height: 100%;
        background:url("../img/header_back.png") no-repeat;
        background-size: auto 100%;
        background-position: right 0 top 0;
    }
}

.nav{
    padding-top: 61px;
    padding-bottom: 61px;
}


.info{
    display: flex;
    width: 100%;
    position: relative;
    &__elements{
        width: 50%;
        &__title{
            font-size: 36px;
            line-height: 48px;
            letter-spacing: 0.03em;
            color: #333333;

        }
        &__desc{
            font-size: 18px;
            line-height: 26px;
            color: #4F4F4F;
            margin:40px 0;
        }
    }
    &__buttons{
        .links{
            display: flex;
            
            &__link{
                margin-right: 30px;
                // display: flex;
                text-decoration: none;
            }

        }
    }

    
}

@media screen and (max-width: 560px) {
    .header{
        &:after{
            display: none;
        }
    }

    .nav{
        display: flex;
        justify-content: center;
    }

    .info{
        &__elements{
            width: 100%;
            &__title{
                font-size: 30px;
                line-height: 40px;
                text-align: center;
            }
            &__desc{
                text-align: center;
            }
        }
        &__buttons{
            display: flex;
            justify-content: center;
            column-gap: 30px;
            .links{                
                &__link{
                    margin: 0;
                }
            }
        }
    }
}